 body {
    font-family: Montserrat, sans-serif;
    line-height: 1.8;
    /*color: #f5f6f7;*/
    background-repeat: repeat-y;
    background-size: cover;
    overflow-x: hidden !important;
    background: linear-gradient(141deg, #e3f6ff 0%, #c3d6dd 51%, #fcf73d 75%);
  }

#one {
  display: block;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 20px;
  /*box-shadow:
    0 0 30px 10px #f2f9fc; 0 0 30px 20px #d8d8d8*/
}

@media only screen and (max-width: 600px) {
  #one, #content, #me {
    width: 90%;
  }
}

.header {
  text-align: center;
  padding: 32px;
  color: #02342e;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 2px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 2px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#edu, #other, #art {
  margin-top: 2em;
}

#schools {
  font-size: 14px; 
}

h4 {
  font-weight: bold;
}

#other {
  font-size: 15px;
}

.project {
  font-size: 25px;
}

.work {
  margin-bottom: 1em;
}

video, #cozy, .nlImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
  background-color: #ffffff;
  padding: 10px;
  min-height: 100px;
  width: 50em;
  /*position: absolute;
  display: inline-block;
  background-color: white;*/
  position: fixed;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.othersImg {
  float: left;
  padding: 10px;
}
.othersInfo {
  float: right;
  width: 80%;
  padding-right: 10px;
  padding-bottom: 10px;
}

/*ART*/
/* Style the images inside the grid */
.column img {
  opacity: 1; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 0.8;
}

}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.imgContainer {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8);
}

#expandedImg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Expanding image text */
#imgtext {
  margin-left: auto;
  left: 60vh;
  color: white;
  font-size: 20px;
  float: bottom;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 60px;
  color: #ffffff;
  font-size: 35px;
  cursor: pointer;
}

#content {
  box-shadow:
    0 0 30px 20px #d8d8d8
}

img {
  cursor: pointer;
}

.meImg {
  float: left;
  padding: 10px;
}

#meInfo {
  float: right;
  width: 70%;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

#me {
  margin-bottom: 2em;
  display: block;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 20px;
  /*box-shadow:
    0 0 30px 10px #f2f9fc; 0 0 30px 20px #d8d8d8*/
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
  width: 11em;
  height: 11em;
  margin: auto;
  cursor: pointer;
}

.overlayContainer:hover .overlay {
  opacity: 0.7;
}

.text {
  color: #000000;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlayContainer {
  position: relative;
}

footer {
  text-align: center;
}